 body {
  margin: 0;
  height: 100vh;
  background: url("images/Sign-up-page.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.game-container {
    width: 40%;          
    height: 100vh;      
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.4); 
}

.choices button {
  font-size: 60px;
  margin: 40px;
  padding: 30px 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.choices button:hover {
  transform: scale(1.1);
}

#result {
  margin: 15px 0;
  font-size: 18px;
}

.score {
    display: flex;
    justify-content: center;   
    gap: 40px;                 
    font-size: 1.3rem;
    margin: 30px 0px;
}

.logout {
  background: #ff5252;
  border: none;
  padding: 20px 65px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
 
  font-size: larger;
}
